@media (min-width: 576px) {
  #carousel {
    max-width: 768px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 300px;
  }

  #demo .carousel-indicators {
    top: 42.1%;
    left: 0%;
  }

  #carousel .carousel-control-prev {
    top: 38.2%;
    right: 48px;
  }

  #carousel .carousel-control-next {
    top: 38.2%;
  }

  .padding-page {
    padding: 0 3rem;
  }
  /* mtu */
  #mtu .mtu-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  /* #featured */

  #featured .featured-items-link .icon {
    width: 10%;
  }

  #featured .featured-container {
    max-width: 768px;
  }

  /* latest */

  #latest .latest-container {
    max-width: 768px;
  }

  /* cta */
  #cta .cta-container {
    max-width: 768px;
  }

  #cta .cta-text {
    padding: 25% 25px 20px;
  }

  /* Carousel-Inner-1 */

  #carousel-inner-page {
    max-width: 768px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel-inner-page .carousel-inner .carousel-item img {
    width: 100%;
    height: 300px;
  }

  /* content-inner1 */

  #content-inner1 .content-inner1-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  /* application */

  #application-inner .application-inner-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  /* product */

  #product .product-container {
    max-width: 768px;
  }

  /* configurator */

  #configurator .configurator-container {
    max-width: 768px;
  }

  /* latest-inner1 */

  #latest-inner1 .latest-container {
    max-width: 768px;
  }

  /* featured-videos */

  #featured-videos .featured-videos-container {
    max-width: 768px;
  }

  /* download */

  #download .download-container {
    max-width: 768px;
  }

  #download .download-img img {
    width: 120px;
  }

  /* related */

  #related .related-container {
    max-width: 768px;
  }

  #related .card-related-body {
    padding: 20px 0px 0 0;
    min-height: 160px;
  }
}

@media (min-width: 768px) {
  #carousel {
    max-width: 991px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
  }

  #demo .carousel-indicators {
    top: 49.1%;
    left: 5%;
  }

  #carousel .carousel-control-prev {
    top: 46.2%;
    right: 48px;
  }

  #carousel .carousel-control-next {
    top: 46.2%;
  }

  .padding-page {
    padding: 0 2rem;
  }

  /* mtu */
  #mtu .mtu-container {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
  }

  #mtu .card-mtu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #mtu .mtu-collection {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 22px;
  }

  /* #featured */
  #featured .featured-items__item {
    grid-template-columns: 0 1fr 50%;
    grid-template-rows: 30px 1fr auto;
  }

  #featured .featured-items-bg {
    grid-row: 2/4;
    background: #f5f5fa;
    grid-column: 1/4;
    width: 100%;
  }

  #featured .featured-items-text {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 15px;
  }

  #featured .featured-items-img {
    grid-row: 1/4;
    grid-column: 3 / span 1;
  }

  #featured .featured-items-btn {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  #featured .featured-items-link .icon {
    width: 30%;
  }

  #featured .featured-items-btn .featured-items-link {
    width: 70%;
  }

  #featured .featured-items-link .text {
    margin-left: 0%;
  }

  #featured .featured-container {
    max-width: 991px;
  }

  /* latest */

  #latest .latest-container {
    max-width: 991px;
  }

  #latest .latest-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #latest .latest-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  /* cta */

  #cta .cta-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  #cta .cta-text {
    padding: 15% 4% 2% 4%;
    width: 100%;
  }

  #cta .cta-text h2 {
    width: 90%;
  }

  #cta .cta-text p {
    width: 100%;
  }

  #cta .cta-img img {
    width: 100%;
    z-index: 1;
    height: 100%;
  }

  /* connect */
  #connect .connect-container {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
  }

  #connect .list-card-connect {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  #connect .card-img-connect img {
    width: 88px;
  }

  #connect .card-text-connect .header-connect {
    min-height: 60px;
  }

  #connect .card-text-connect .text-connect-p {
    font-size: 12px;
    line-height: 16px;
    min-height: 80px;
  }

  /* Carousel-Inner-1 */

  #carousel-inner-page {
    max-width: 991px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel-inner-page .carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
  }

  /* content-inner1 */

  #content-inner1 .content-inner1-container {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
  }

  #content-inner1 .text-content-inner1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  #content-inner1 .list-item-inner1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 90px;
    column-gap: 20px;
  }

  /* application */

  #application-inner .application-inner-container {
    max-width: 991px;
    width: 100%;
    margin: 0 auto;
  }

  #application-inner .list-card-application {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
  }

  #application-inner .card-application-text .card-application-text-header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    min-height: 60px;
  }

  #application-inner .card-application-text .card-application-text-body {
    min-height: 45px;
  }

  /* product */

  #product .product-container {
    max-width: 991px;
  }

  #product .list-box-product {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  #product .product-items-content {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  #product .product-items-content .item-product {
    margin-left: 35px;
  }

  #product .header-product h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;
  }

  #product .box-commercial-product .list-commercial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  /* configurator */

  #configurator .configurator-container {
    max-width: 991px;
  }

  #configurator .btn-configurator {
    width: 20%;
  }

  /* latest-inner1 */

  #latest-inner1 .latest-container {
    max-width: 991px;
  }

  #latest-inner1 .latest-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #latest-inner1 .latest-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  #latest-inner1 .card-latest-body {
    min-height: 100px;
  }

  /* featured-videos */

  #featured-videos .featured-videos-container {
    max-width: 991px;
  }

  #featured-videos .list-featured-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }

  #featured-videos .videos-text .videos-text-header {
    margin-bottom: 0;
  }

  /* download */

  #download .download-container {
    max-width: 991px;
  }

  #download .download-img img {
    width: 90px;
  }

  #download .grid-card-download {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  #download .card-download {
    display: block;
    width: 100%;
  }

  #download .download-img {
    margin-bottom: 20px;
  }

  /* related */

  #related .related-container {
    max-width: 991px;
  }

  #related .card-related-body {
    padding: 20px 22px 0 0;
    min-height: 200px;
  }

  #related .related-bottom .list-related-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
  }
}

@media (min-width: 991px) {
  #carousel {
    max-width: 1280px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
  }

  #demo .carousel-indicators {
    bottom: 0.1%;
    top: unset;
  }

  #carousel .carousel-control-prev {
    top: unset;
    bottom: 0;
    right: 68px;
    width: 68px;
    height: 68px;
  }

  #carousel .carousel-control-next {
    top: unset;
    bottom: 0;
    width: 68px;
    height: 68px;
  }

  .padding-page {
    padding: 0 3rem;
  }

  #carousel .carousel-control-prev-icon i {
    font-size: 20px;
  }

  #carousel .carousel-control-next-icon i {
    font-size: 20px;
  }

  #carousel .carousel-item {
    position: relative;
  }

  #carousel .content {
    background-color: #10069fad;
    padding: 3rem 1rem;
    position: absolute;
    width: 50%;
    top: 15%;
    left: 5%;
    height: unset;
  }

  #carousel .content .caption-button {
    width: 40%;
    background-color: white;
    padding: 12px;
    border-radius: 4px;
  }

  #carousel .caption-button a {
    margin-left: 2%;
    font-weight: 500;
    font-size: 16px;
  }

  #carousel .caption-button a span {
    width: 30%;
  }

  /* mtu */
  #mtu .mtu-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  #mtu .mtu-container h1 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 32px;
  }

  #mtu .mtu-container p {
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    font-weight: 400;
  }

  #mtu .mtu-box .text-box h4 {
    font-size: 20px;
    line-height: 20px;
  }

  #mtu .mtu-box .text-box p {
    font-size: 12px;
    line-height: 16px;
    min-height: 16px;
  }

  #mtu .mtu-collection {
    column-gap: 40px;
  }

  /*  #featured */

  #featured .featured-container .featured-list-item {
    grid-template-columns: repeat(2, 1fr);
  }

  #featured .featured-items-link .icon {
    width: 25%;
  }

  #featured .featured-items-btn .featured-items-link {
    width: 90%;
  }

  #featured .featured-items-link .text {
    margin-left: 0%;
  }

  #featured .featured-container {
    max-width: 1110px;
  }

  /* latest */

  #latest .latest-container {
    max-width: 1110px;
  }

  /* cta */
  #cta .cta-text {
    padding: 10% 0% 10% 10%;
    width: 60%;
  }

  #cta .cta-container {
    max-width: 1110px;
  }

  #cta .cta-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(28, 17, 212);
    background: linear-gradient(
      100deg,
      rgba(28, 17, 212, 1) 0%,
      rgba(32, 7, 155, 0.9279061966583508) 50%,
      rgba(32, 6, 150, 0.7934524151457458) 63%,
      rgba(33, 3, 136, 0) 100%
    );
  }

  #cta .btn-cta {
    width: 40%;
    padding-left: 4%;
  }

  /* connect */
  #connect .card-text-connect .header-connect {
    min-height: 40px;
  }

  #connect .card-text-connect .text-connect-p {
    font-size: 12px;
    line-height: 16px;
    min-height: 60px;
  }

  #connect .connect-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  /* Carousel-Inner-1 */

  #carousel-inner-page {
    max-width: 1280px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel-inner-page .carousel-inner .carousel-item img {
    width: 100%;
    height: 500px;
  }

  #carousel-inner-page .content-inner1 {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.4), transparent);
  }

  #carousel-inner-page .container-content-carousel-inner1 {
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6%;
    max-width: 991px;
    width: 100%;
  }

  #carousel-inner-page .container-content-carousel-inner1 .text-inner {
    align-items: center;
    padding-right: 5%;
  }

  #carousel-inner-page .container-content-carousel-inner1 span {
    color: white;
    background: #006dff;
    align-items: center;
    border-radius: 2px;
    min-height: 16px;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 12px;
    padding: 2px 4px;
  }

  #carousel-inner-page .container-content-carousel-inner1 h2 {
    font-size: 40px !important;
    text-transform: uppercase;
    line-height: 44px !important;
    color: white;
    font-weight: bold;
    width: 100% !important;
    margin-top: 12px;
  }

  #carousel-inner-page .container-content-carousel-inner1 p {
    font-size: 20px;
    color: white;
    line-height: 28px;
    margin-top: 28px;
  }

  #carousel-inner-page .container-content-carousel-inner1 p span {
    font-style: italic;
    font-weight: bold;
  }

  #carousel-inner-page .carousel-control-prev {
    width: 68px;
    height: 68px;
    right: 68px;
  }

  #carousel-inner-page .carousel-control-next {
    width: 68px;
    height: 68px;
  }

  #carousel-inner-page .carousel-control-prev-icon i {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

  #carousel-inner-page .carousel-control-next-icon i {
    width: 32px;
    height: 32px;
    font-size: 20px;
  }

  /* content-inner1 */

  #content-inner1 .content-inner1-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  #content-inner1 .list-item-inner1 .icons-inner1 {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  #content-inner1 .text-item-inner1 .text-item-inner1-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    min-height: 30px;
  }

  /* application */

  #application-inner .application-inner-container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
  }

  #application-inner .card-application-text .card-application-text-header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    min-height: 50px;
  }

  #application-inner .card-application-text .card-application-text-body {
    min-height: 20px;
  }

  /* product */

  #product .product-container {
    max-width: 1110px;
  }

  #product .list-box-product {
    grid-template-columns: 22% 48% 30%;
    row-gap: 30px;
  }

  #product .product-items-content {
    grid-column: 3 / span 1;
    display: block;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    margin-left: 10%;
  }

  #product .product-img-content .img-product {
    width: 65%;
    margin-left: calc(22% + 15px);
    flex-basis: calc(33.33333% - 30px);
    padding: 26px 0;
  }

  #product .product-text-content p {
    margin-top: 18px;
  }

  #product .product-text-content h3 {
    font-size: 24px;
    line-height: 28px;
    min-height: 60px;
  }

  #product .header-product h2 {
    font-size: 28px;
    line-height: 32px;
  }

  /* configurator */

  #configurator .configurator-container {
    max-width: 1110px;
  }

  #configurator .configurator-grid {
    display: grid;
    grid-template-columns: 80% 20%;
    column-gap: 20px;
    align-items: center;
  }

  #configurator .btn-configurator {
    margin-left: 20%;
    width: 70%;
  }

  /* latest-inner1 */

  #latest-inner1 .latest-container {
    max-width: 1110px;
  }

  /* featured-videos */

  #featured-videos .featured-videos-header h2 {
    font-size: 28px;
    line-height: 32px;
  }

  #featured-videos .featured-videos-container {
    max-width: 1110px;
  }

  /* download */

  #download .download-container {
    max-width: 1110px;
  }

  #download .card-download {
    display: flex;
    width: 100%;
  }

  #download .download-img img {
    width: 120px;
  }

  /* related */

  #related .related-container {
    max-width: 1110px;
  }

  #related .card-related-body {
    padding: 20px 18px 0 0;
    min-height: 160px;
  }
}

@media (min-width: 1210px) {
  #mtu .card-mtu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }

  #mtu .mtu-collection {
    column-gap: 50px;
  }

  .padding-page {
    padding: 0 5rem;
  }

  /*   #featured */

  #featured .featured-items-text h4 {
    font-size: 16px;
    line-height: 20px;
    padding-left: 60px;
  }

  #featured .featured-items-num {
    display: block;
    min-width: 43px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 23px 0 23px 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
  }

  #featured .featured-items-btn {
    padding-left: 50px;
  }

  /* latest */

  #latest .latest-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  #latest .card-latest-text .content-h {
    min-height: 100px;
  }

  /* connect */
  #connect .card-text-connect .header-connect {
    min-height: 30px;
  }

  #connect .card-text-connect .text-connect-p {
    font-size: 12px;
    line-height: 16px;
    min-height: 40px;
  }

  /* application */

  /* product */
  #product .product-img-content .img-product {
    width: 65%;
    margin-left: calc(22% + 15px);
    flex-basis: calc(33.33333% - 30px);
    padding: 0 0;
  }

  /* latest-inner1 */

  #latest-inner1 .latest-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
  }

  #latest-inner1 .card-latest-text .content-h {
    min-height: 100px;
  }

  #latest-inner1 .card-latest-body {
    padding: 20px 4px 0 0;
    min-height: 230px;
  }

  #latest-inner1 .card-latest-text .text-one {
    padding-right: 2px;
  }

  #latest-inner1 .card-latest-text .content-h {
    min-height: 50px;
    font-size: 15.8px;
  }
}

@media (min-width: 1110px) {
  #carousel-inner-page .container-content-carousel-inner1 {
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
    max-width: 1110px;
  }

  #carousel-inner-page .container-content-carousel-inner1 .text-inner {
    align-items: center;
    padding-left: 8%;
  }
}

@media (min-width: 1280px) {
  #carousel {
    max-width: 1990px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 600px;
  }

  #carousel .content {
    padding: 3rem 1rem;
    position: absolute;
    width: 40%;
    top: 15%;
    left: 10%;
    height: unset;
  }

  #carousel .content .caption-button {
    width: 40%;
    background-color: white;
    padding: 12px;
    border-radius: 4px;
  }

  #carousel .caption-button a {
    margin-left: 2%;
    font-weight: 500;
    font-size: 16px;
  }

  #carousel .caption-button a span {
    width: 30%;
    line-height: 48px;
  }

  /* mtu */
  /* #mtu .mtu-container {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
  } */

  /* #featured */

  /* #featured .featured-container {
    max-width: 1990px;
  } */

  /* cta */
  /* #cta .cta-container {
    max-width: 1990px;
  } */

  /* latest */

  /* #latest .latest-container {
    max-width: 1990px;
  } */

  /* #connect .connect-container {
    max-width: 1990px;
    width: 100%;
    margin: 0 auto;
  } */

  /* Carousel-Inner-1 */

  #carousel-inner-page {
    max-width: 1990px;
    width: 100%;
    z-index: 2;
    padding-top: 68px;
    margin: 0 auto;
  }

  #carousel-inner-page .carousel-inner .carousel-item img {
    width: 100%;
    height: 600px;
  }

  #carousel-inner-page .container-content-carousel-inner1 {
    text-align: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10%;
    max-width: 1210px;
  }
  /* content-inner1 */

  /* application */

  #application-inner .card-application-text .card-application-text-body {
    min-height: 30px;
  }
}
